---
layout: page
---
{{ content }}

{% if page.collection and page.collection.size > 0 %}
  {% assign collection = site[page.collection] %}
  {% if collection and collection.size > 0 %}
    <!-- Reading -->
    <h2>Reading</h2>
    <ul>
    {% for item in collection reversed %}
      {% assign status = item.status | downcase | strip %}
      {% if status == 'reading' %}
        <figure class="cover">
          <a class="cover-link" href="{{ item.url | relative_url }}">
            {% if item.cover %}
              <img alt="{{ item.title }} cover" src="{{ item.cover | prepend: page.covers | relative_url }}" style="height:200px">
            {% elsif item.olid %}
              <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ item.olid }}-L.jpg?default=false" style="height:200px">
            {% elsif item.isbn %}
              <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ item.isbn }}-L.jpg?default=false" style="height:200px">
            {% endif %}
            <figcaption class="reading">READING</figcaption>
          </a>
        </figure>
      {% endif %}
    {% endfor %}
    </ul>

    <!-- Finished -->
    <h2>Finished</h2>
    <ul>
    {% for item in collection reversed %}
      {% assign status = item.status | downcase | strip %}
      {% if status == 'finished' %}
        <figure class="cover">
          <a class="cover-link" href="{{ item.url | relative_url }}">
            {% if item.cover %}
              <img alt="{{ item.title }} cover" src="{{ item.cover | prepend: page.covers | relative_url }}" style="height:200px">
            {% elsif item.olid %}
              <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ item.olid }}-L.jpg?default=false" style="height:200px">
            {% elsif item.isbn %}
              <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ item.isbn }}-L.jpg?default=false" style="height:200px">
            {% endif %}
            <figcaption class="finished">FINISHED</figcaption>
          </a>
        </figure>
      {% endif %}
    {% endfor %}
    </ul>

    <!-- To Read -->
    <h2>To Read</h2>
    <ul>
    {% for item in collection reversed %}
      {% assign status = item.status | downcase | strip %}
      {% if status == 'queued' or status == 'interested' or status == 'to read' %}
        <figure class="cover">
          <a class="cover-link" href="{{ item.url | relative_url }}">
            {% if item.cover %}
              <img alt="{{ item.title }} cover" src="{{ item.cover | prepend: page.covers | relative_url }}" style="height:200px">
            {% elsif item.olid %}
              <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ item.olid }}-L.jpg?default=false" style="height:200px">
            {% elsif item.isbn %}
              <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ item.isbn }}-L.jpg?default=false" style="height:200px">
            {% endif %}
            <figcaption class="queued">TO READ</figcaption>
          </a>
        </figure>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}
